.nav-bar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px 20px;
   background-color: #f4f7f6;
   position: relative; /* Added to allow absolute centering of the search bar */
}

.nav-left,
.nav-center,
.nav-right {
   display: flex;
   align-items: center;
}

.nav-center {
   position: absolute; 
   left: 50%;
   transform: translateX(-50%); 
   display: flex;
   justify-content: center;
   width: 30%; 
}

.logo {
   width: 40px;
   height: 40px;
}

.brand-name {
   font-size: 1.5rem;
   margin-left: 10px;
}

.search-bar {
   width: 50%;
   padding: 5px;
   font-size: 1rem;
   border-radius: 12px;
}

.profile-image {
   width: 40px;
   height: 40px;
   border-radius: 50%;
   cursor: pointer;
}

.profile-image:hover {
   background-color: white;
   outline: white 10px solid;
}

.nav-right {
   display: flex;
   gap: 15px; 
}

.nav-icon {
   width: 32px; 
   height: 32px;
   cursor: pointer;
   transition: transform 0.2s ease;
}

.nav-icon:hover {
   transform: scale(1.1);
}

@media only screen and (max-width: 870px){
   .nav-bar {
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 5px 10px 10px 10px;
   }

   .search-bar{
      width: 100%;
      box-sizing: border-box;
   }

   .nav-left{
      margin-top: 0px;
   }

   .nav-right{
      width: 100%;
      justify-content: space-between;
   }

   .nav-center{
      width: 55%;
      position: relative;
      left: 0%;
      transform: translateX(-0%);
   }

   .logo {
      width: 32px;
      height: 32px;
   }

   .nav-icon{
      max-width: 32px;
      max-height: 32px;
      width: 100%;
   }
}

