.building-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .building-item {
    border: 1px solid #ccc;
    padding: 20px;
    width: 75%;
    display: flex;
    flex-direction: row;
    margin-inline: auto;
  }

  h2{
    text-align: start;
  }
  
  .building-item img {
    height: fit-content;
    height: auto;
  }

  .users-list {
    list-style-type: disc; 
    padding-left: 20px;    
  }
  
  .users-list li {
    margin-bottom: 10px;
  }