/*stranica Signup*/

.signup-body {
   background-image: url('../assets/images/LC_hephaistos.jpg');
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   height: 100vh;
   overflow: hidden;
}


.signup-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 20px;
   background-color: #f4f7f6;
   
   border-radius: 12px;
   width: 100%;
   max-width: 600px;
   margin: 20px auto;
   box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
 }
 
 .signup-content {
   text-align: center;
   margin-bottom: 20px;
 }
 
 .signup-content p {
   font-size: 16px;
   color: #555;
   margin-bottom: 15px;
 }
 
 .google-auth-button {
   display: inline-flex;
   align-items: center;
   justify-content: center; 
   background-color: #4CAF50;
   color: white;
   text-align: center;
   text-decoration: none;
   border: none;
   border-radius: 5px;
   padding: 12px 20px;
   cursor: pointer;
   font-size: 16px;
   transition: background-color 0.3s;
   margin-top: 10px;
 }
 
 .google-auth-button:hover {
   background-color: #45a049;
 }
 
 .google-auth-button:active {
   background-color: #45a049;
   transform: scaleY(0.95);
   transform: scaleX(0.99);
 }
 
 .google-auth-button:focus {
   outline: none;
 }
 
 .signup-form-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 20px;
   background-color: #f4f7f6;
   border-radius: 12px;
   box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
   width: 100%;
   max-width: 600px;
   margin: 50px auto; 
 }
 
 h2 {
   font-size: 24px;
   color: #333;
   margin-bottom: 20px;
 }
 
 .form-group {
   display: flex;
   flex-direction: column;
   width: 100%; 
   margin-bottom: 15px; 
 }
 
 input[type="text"],
 input[type="email"],
 option,
 select {
   padding: 10px;
   border: 1px solid #ccc;
   border-radius: 5px;
   font-size: 16px;
   transition: border-color 0.3s;
   width: 100%;
 }
 
 input[type="text"]:focus,
 input[type="email"]:focus,
 select:focus {
   border-color: #4CAF50; 
   outline: none; 
 }
 
 .submit-button {
   background-color: #4CAF50; 
   color: white;
   border: none;
   border-radius: 5px;
   padding: 10px 20px;
   cursor: pointer;
   font-size: 16px;
   transition: background-color 0.3s;
 }
 
 .submit-button:hover {
   background-color: #45a049; 
 }
 
 .submit-button:active {
   background-color: #45a049;
   transform: scaleY(0.95);
   transform: scaleX(0.99);
 }

 .benefits-section {
   background: #fff;
   padding: 20px;
   border-radius: 10px;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
   margin-bottom: 20px;
   width: 100%;
}

.benefits-list {
   list-style: none;
   padding: 0;
   text-align: center;
}

.benefits-list li {
   margin-bottom: 10px;
   font-size: 16px;
}