.contact-header {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 75%;
   margin-inline: auto;
 }
 
 .add-building-button {
   width:fit-content;
   display: block;
   padding: 10px 20px;
   background-color: #4CAF50;
   color: white;
   border: none;
   border-radius: 5px;
   cursor: pointer;
 }

.building-naslov-gumb{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.building-picture{
  background-color: white;
  margin: auto;
  margin-right: 50px;
}

.building-picture img {
  max-width: 100%; 
  max-height: 300px; 
  width: auto; 
  height: auto; 
  object-fit: cover; 
  border-radius: 10px; 
}

 .building-item img{
    width: 300px
 }

 .building-podaci{
   width: 100%;
 }
 
 .edit-building-button {
   
   width: fit-content;
   display: block;
   padding: 10px 20px;
   background-color: #4CAF50;
   color: white;
   border: none;
   border-radius: 5px;
   cursor: pointer;
 }

 .building-list {
     display: flex;
     flex-direction: column;
     gap: 20px;
   }
   
   .building-item {
     padding: 20px;
     width: 75%;
     display: flex;
     flex-direction: row;
     margin-inline: auto;
     border-radius: 12px;
     background-color: #f4f7f6;
     box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);

   }
    

 
   .users-list {
     list-style-type: disc; 
     padding-left: 20px;    
   }
   
   .users-list li {
     margin-bottom: 10px;
   }
  
   .modal {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: rgba(0, 0, 0, 0.5);
     display: flex;
     justify-content: center;
     align-items: center;
   }
   
   .modal-content {
     background: white;
     padding: 20px;
     border-radius: 10px;
     width: 400px;
   }
   
   .modal-actions {
     margin-top: 20px;
     display: flex;
     justify-content: space-between;
     gap: 20px;
   }
   
   .save-button, .cancel-button {
     padding: 10px 20px;
     border: none;
     border-radius: 5px;
     cursor: pointer;
   }
   
   .save-button {
     background-color: #28a745;
     color: white;
   }

   .save-button:hover{
    background-color: #218838;
   }
   
   .cancel-button {
     background-color: #dc3545;
     color: white;
   }

   .cancel-button:hover {
    background-color: #a71d2a;
    color: white;
  }

@media only screen and (max-width: 1000px) {
  .contact-header{
    width: 90%;
  }
  .building-item{
    width: 90%;
  }
}

@media only screen and (max-width: 700px) {
  .contact-header{
    flex-flow: column;
  }

  .building-naslov-gumb{
    flex-flow: column;
  }

  .edit-building-button{
    width: 100%;
  }

  .add-building-button{
    width: 100%;
  }

  .building-picture{
    margin: 10px;
  }

  .building-picture img{
    height: 100%;
  }

  .building-item{
    flex-flow: column-reverse;
    align-items: center;
    width: 80%;
  }

  .modal-content{
    width: 80%;
  }

  .building-list{
    gap: 10px
  }
}
  